.cartSection {
    min-height: 100vh;
    padding-top: 5rem;
    .cartItem {
        height: 5rem;
        max-width: 1000px;
        background-color: #f0f0f0;
        margin: 1rem auto;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        padding: 0.5rem 0;
        .cartItem__title {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: 1.2rem;
                text-align: center;
            }

        }
        .cartItem__price {

            display: flex;
            align-items: center;
            justify-content: center;
            span {
                font-weight: 700;
                font-size: 1.2rem;
                text-align: center;
            }

        }
        .cartItem__quantity {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
        }
        .cartItem__pictureUrl {
            margin: 0.2rem;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        
    }
    .cartItem__delete {

        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 1.5rem;
            text-align: center;
        }
        button {
            border: none;
            background-color: inherit;
        }

    }
        .cartSection__checkout {
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            font: inherit;
            margin-top: 1rem;
            cursor: pointer;
            outline: inherit;
        }
    
}

.cartEmptyMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
