.cartWidgetContainer {
    width: 7rem;
    padding: 0 1em;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccd0d0;
    border-radius: 30px;
    color: #2d2d2d;
}