.itemCountContainer {
    display: flex;
    flex-direction: column;

    .itemButton {
        border-radius: 0;
    }

    .itemCountControls {
        display: flex;
        justify-content: space-between;
        height: 2rem;
        
        .itemCount__add-button {
            width: 2rem;
            background-color: #ccd0d0;
	        color: inherit;
	        border: none;
	        padding: 0;
	        font: inherit;
	        cursor: pointer;
            font-weight: bold;
	        outline: inherit;

        }

        .itemCount__add-button--right {
            border-radius: 0 5px  5px 0;
        }

        .itemCount__add-button--left {
            border-radius: 5px 0 0 5px;
        }

        .countDisplay {
            background-color: #ccd0d0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            .count {
                text-align: center;
                margin-bottom: 0;
                display: inline;
                font-weight: bold;
            }
        }
    }
    .itemCount__cart-button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        height: 2rem;
        margin-top: 0.8rem;
    }
}



